@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background-color: hsl(222 47% 11%);
  color: hsl(210 40% 98%);
  margin: 0;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}
